<footer class="page-footer  font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="text-white fa">Siga-nos nas redes sociais </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social">
                 <li>        <!--no angular utilizamos para rotas externas-->
                        <a href="https://www.linkedin.com/in/mayarabnc/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                    <li> 
                      <a href="https://github.com/Mayarabnc"><i class="fa fa-github" aria-hidden="true"></i>
                     </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-white d-flex justify-content-center p-3" width="100%" >
        Obrigada por acessar : )
    </div>
</footer>
