<div class="container-fluid">

    <div class="row bg-dark text-white" style="align-items: center;">
        <div class="col-md-6">
            
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs18">O que você gostaria de falar?</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class=" btn btn-light btn-laranja mr-2 bg-botao-laranja">Nova postagem</button>
                    <a class="btn btn-outline-light btn-laranja" href="">Ver postagem</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://i.imgur.com/WwNO54k.png" width="500px">
        </div>
    </div>
</div>



