.btn-laranja{
    color: rgb(255, 115, 0) !important;
    border-color: rgb(255, 115, 0) !important;
}

.btn-laranja:hover{
    background-color: rgb(255, 115, 0) !important;
    color: #343A40 !important;
}

.bg-botao-laranja{
    background-color: rgb(255, 115, 0) !important;
    color: #343A40!important;
    border: 0;
}


.btn-modal{
    color: rgb(255, 115, 0) !important;
    border-color: #343A40 !important;
}

.btn-modal:hover{
    background-color: #343A40 !important;
    color: rgb(255, 115, 0)  !important;
    border: 0px !important;
}